.tamaCard{
    width : 18rem;
    align-items: center;

}

.product-list__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.image-style {
    width: 100px;
    justify-content: center;
}